<div class="container col-8 mt-5" style="background-color:#f7f7f7;">
    <h4>Elections for Board of Directors</h4>
    To ensure the success of this initiative, a steering committee and a small management team have been set up.

    The function of the steering committee is to provide direction and support for the strategy proposed by the
    management team.

    The management team will be responsible for developing the strategy, its practical implementation and its
    evaluation.<br>
    <br><ul>
  <li> <b>  Executive team </b></li>
  <li> <b> Steering group</b></li>
  <li> <b> Advisors </b></li></ul>
</div>