<div class="container col-8 mt-5 mb-5" style="background-color:#f7f7f7;"> 
    <h4>Mission and Objectives of ATMF:</h4>

    <strong>Mission:</strong><br>
    
    To promote the highest ethical and professional standards in blood transfusion practices in order to achieve safe and cost effective blood transfusion services in all Arabic countries, both at national and regional levels
    <br>
    <strong>Objectives:</strong><br>
    
    <ul>
        <li><span style="font-size: 10pt;">To attract a membership of professionals working or engaged in transfusion medicine and allied disciplines and activities related to transfusion practice in the Arab Countries. Membership will also include members of the profession originally from the region who may be working out of the region, in other countries. </span></li>
        </ul>
        <ul>
        <li><span style="font-size: 10pt;">To provide opportunities to pool information and knowledge in transfusion science, medicine and practice, and facilitate experience sharing among professionals working in this field, in a structured way on regular basis.</span></li>
        </ul>
        <ul>
        <li><span style="font-size: 10pt;">To promote a spirit of understanding and collaboration in important areas </span><span style="font-size: 10pt;">in the field of transfusion medicine and science, both in their own countries </span><span style="font-size: 10pt;">and across the National Blood Transfusion Services of the region.</span></li>
        </ul>
        <ul>
        <li><span style="font-size: 10pt;">To provide opportunities to pool information and knowledge in transfusion science, medicine and practice, and facilitate experience sharing among professionals working in this field, in a structured way on regular basis.</span></li>
        </ul>
        <ul>
        <li><span style="font-size: 10pt;">To raise the profile of ATMF and its membership within the countries in the region and internationally by disseminating information about its role and activities by using reasonable means such as a newsletter or an Internet website.</span></li>
        </ul>
        <ul>
        <li><span style="font-size: 10pt;">To promote a spirit of understanding and collaboration in important areas in the field of transfusion medicine and science, both in their own countries and across the National Blood Transfusion Services of the region.</span></li>
        </ul>
        <ul>
        <li><span style="font-size: 10pt;">To raise the profile of ATMF and its membership within the countries in the region and internationally by disseminating information about its role and activities by using reasonable means such as a newsletter or an Internet website.</span></li>
        </ul>
        <ul>
        <li><span style="font-size: 10pt;">To find ways and means to facilitate communication and raise awareness among transfusion medicine workers at all levels regarding important and up-to-date professional issues, in order to improve the standards of transfusion practice and enhance the safety and quality of blood transfusion services and practice in the region.</span></li>
        </ul>
        <ul>
        <li><span style="font-size: 10pt;">To explore practical avenues to improve the skills of ATMF membership and provide opportunities for personal scientific and professional development in order to build a professional focus of transfusion medicine workers that is well informed and able to influence government transfusion medicine policies both at national and regional levels.</span></li>
        </ul>
        <ul>
        <li><span style="font-size: 10pt;">To promote links with other professional groups, scientific societies, allied transfusion organisations and services in the region and internationally.</span></li>
        <li><span style="font-size: 10pt;">To establish adequate funds for the above activities and objectives of the ATMF, for its administration and put in place any other activities as and when necessary for the attainment of its goals and purposes. </span></li>
        </ul>

</div>
