<div class="container col-8 mt-5" style="background-color:#f7f7f7;">
<h4>The Code of Ethics is available in 2 languages</h4>
<p style="color: red; " >Please click on your prefered language to download the Code of Ethics (pdf)</p>
<a href="https://drive.google.com/uc?export=download&id=1Jrv8tH7yf4g4fxo9dJMBGIDrS9JUHZY2"><button  type="button" class="btn btn-primary">English</button></a>
<a  class="mx-3 " href="https://drive.google.com/uc?export=download&id=1UjMHo18Yg_VSd7f5NJyye9LocIR2-YLC"><button  type="button" class="btn btn-primary">Frensh</button></a>

</div>