<div class="row mt-5" *ngIf="!d">
  <div class="container col-8 text-center">
    <p class="alert alert-warning">
      <strong>no upcoming event !</strong>

    </p>
  </div>
</div>
<div class=" container col-8 mt-5" *ngIf="d" style="background-color:#f7f7f7;">
  <h4 style="color: red;" class=" mx-1">
    <p>General information </p>
  </h4>
  <p><b>Title : </b> {{t}}</p>
  <P><b>Start : </b>{{d  | date:'shortDate'}}</P>
  <P><b>End : </b>{{d2  | date:'shortDate'}}</P>
  <p><b>Description : </b></p> <div style="white-space: pre-wrap;">{{s}}</div>



</div>